---
Language:        Cpp
BasedOnStyle:    Google
IndentWidth:     2
TabWidth:        2
UseTab:          Never
ColumnLimit:     100
BreakBeforeBraces: Stroustrup
AllowShortFunctionsOnASingleLine: None
AlignAfterOpenBracket: DontAlign
AlignOperands:   true
AlignTrailingComments: true
IndentCaseLabels: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInSquareBrackets: false
SpacesInAngles:  false
SpaceInEmptyParentheses: false
PointerAlignment: Right
DerivePointerAlignment: false
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
ReflowComments:  true
Standard:        Cpp11
SortIncludes:    true
IncludeBlocks:   Preserve
MaxEmptyLinesToKeep: 1
