* text=auto !eol
benchmark/Algebraic_kernel_d/Algebraic_curve_kernel_2.cpp -text
benchmark/Algebraic_kernel_d/Algebraic_kernel_d_1.cpp -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_2_2_8_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_2_2_8_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_2_2_8_4.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_2_2_8_5.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_3_2_128_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_3_2_128_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_3_2_128_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_3_2_16_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_3_2_16_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_3_2_16_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_3_2_32_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_3_2_32_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_3_2_32_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_3_2_48_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_3_2_48_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_3_2_48_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_3_2_64_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_3_2_64_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_3_2_64_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_3_2_8_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_3_2_8_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_3_2_8_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_3_2_8_4.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_3_2_8_5.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_3_3_8_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_3_3_8_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_3_3_8_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_3_3_8_4.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_3_3_8_5.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_4_3_8_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_4_3_8_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_4_3_8_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_4_3_8_4.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_4_3_8_5.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_4_4_8_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_4_4_8_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_4_4_8_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_4_4_8_4.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/projected_arr_4_4_8_5.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_11_50_3_1_cov.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_11_50_3_1_cov_swapped.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_11_50_3_2_cov.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_11_50_3_2_cov_swapped.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_11_50_3_3_cov.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_11_50_3_4_cov_swapped.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_12_10_2_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_12_10_2_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_12_10_2_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_12_10_2_4.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_12_10_2_5.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_12_50_2_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_12_50_2_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_12_50_2_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_12_50_2_4.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_12_50_2_5.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_12_50_3_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_12_50_3_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_12_50_3_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_12_50_3_4.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_12_50_3_5.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_12_50_4_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_12_50_4_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_12_50_4_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_12_50_4_4.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_12_50_4_5.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_15_10_2_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_15_10_2_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_15_10_2_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_15_10_2_4.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_15_10_2_5.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_15_50_2_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_15_50_2_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_15_50_2_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_15_50_2_4.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_15_50_2_5.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_15_50_3_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_15_50_3_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_15_50_3_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_15_50_3_4.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_15_50_3_5.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_15_50_4_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_15_50_4_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_15_50_4_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_15_50_4_4.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_15_50_4_5.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_1024_2_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_1024_2_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_1024_2_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_10_2_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_10_2_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_10_2_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_10_2_4.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_10_2_5.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_128_2_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_128_2_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_128_2_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_2048_2_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_2048_2_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_2048_2_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_256_2_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_256_2_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_256_2_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_4096_2_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_4096_2_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_4096_2_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_100_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_100_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_100_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_10_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_10_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_10_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_15_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_15_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_15_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_20_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_20_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_20_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_25_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_25_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_25_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_2_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_2_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_2_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_2_4.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_2_5.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_50_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_50_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_50_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_5_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_5_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_5_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_75_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_75_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_50_75_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_512_2_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_512_2_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_512_2_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_64_2_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_64_2_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_6_64_2_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_7_50_10_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_7_50_10_1_cov.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_7_50_10_1_cov_swapped.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_7_50_10_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_7_50_10_2_cov.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_7_50_10_2_cov_swapped.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_7_50_10_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_7_50_10_3_cov.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_7_50_10_3_cov_swapped.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_7_50_15_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_7_50_15_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_7_50_15_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_7_50_20_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_7_50_20_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_7_50_20_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_7_50_5_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_7_50_5_1_cov.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_7_50_5_1_cov_swapped.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_7_50_5_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_7_50_5_2_cov.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_7_50_5_2_cov_swapped.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_7_50_5_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_7_50_5_3_cov.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_7_50_5_3_cov_swapped.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_9_10_2_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_9_10_2_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_9_10_2_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_9_10_2_4.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_9_10_2_5.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_9_50_10_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_9_50_10_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_9_50_10_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_9_50_15_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_9_50_15_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_9_50_15_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_9_50_20_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_9_50_20_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_9_50_20_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_9_50_2_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_9_50_2_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_9_50_2_3.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_9_50_2_4.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_9_50_2_5.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_9_50_5_1.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_9_50_5_2.nix -text
benchmark/Algebraic_kernel_d/Curve_kernel_2_data/rand_9_50_5_3.nix -text
benchmark/Algebraic_kernel_d/benchmark -text
benchmark/Algebraic_kernel_d/create_bivariate_polynomials_as_resultant_projection.cpp -text
benchmark/Algebraic_kernel_d/create_random_bivariate_polynomials.cpp -text
benchmark/Algebraic_kernel_d/data/0050_ext_polys_with_1000_bits.nix -text
benchmark/Algebraic_kernel_d/data/0050_ext_polys_with_100_bits.nix -text
benchmark/Algebraic_kernel_d/data/0050_ext_polys_with_200_bits.nix -text
benchmark/Algebraic_kernel_d/data/0050_ext_polys_with_300_bits.nix -text
benchmark/Algebraic_kernel_d/data/0050_ext_polys_with_400_bits.nix -text
benchmark/Algebraic_kernel_d/data/0050_ext_polys_with_500_bits.nix -text
benchmark/Algebraic_kernel_d/data/0050_ext_polys_with_600_bits.nix -text
benchmark/Algebraic_kernel_d/data/0050_ext_polys_with_700_bits.nix -text
benchmark/Algebraic_kernel_d/data/0050_ext_polys_with_800_bits.nix -text
benchmark/Algebraic_kernel_d/data/0050_ext_polys_with_900_bits.nix -text
benchmark/Algebraic_kernel_d/data/0100_int_polys_with_1000_bits.nix -text
benchmark/Algebraic_kernel_d/data/0100_int_polys_with_1200_bits.nix -text
benchmark/Algebraic_kernel_d/data/0100_int_polys_with_1400_bits.nix -text
benchmark/Algebraic_kernel_d/data/0100_int_polys_with_1600_bits.nix -text
benchmark/Algebraic_kernel_d/data/0100_int_polys_with_1800_bits.nix -text
benchmark/Algebraic_kernel_d/data/0100_int_polys_with_2000_bits.nix -text
benchmark/Algebraic_kernel_d/data/0100_int_polys_with_200_bits.nix -text
benchmark/Algebraic_kernel_d/data/0100_int_polys_with_400_bits.nix -text
benchmark/Algebraic_kernel_d/data/0100_int_polys_with_600_bits.nix -text
benchmark/Algebraic_kernel_d/data/0100_int_polys_with_800_bits.nix -text
benchmark/Algebraic_kernel_d/data/resultants_from_0010_quadrics_with_0010_bits.nix -text
benchmark/Algebraic_kernel_d/data/resultants_from_0010_quadrics_with_0020_bits.nix -text
benchmark/Algebraic_kernel_d/data/resultants_from_0010_quadrics_with_0030_bits.nix -text
benchmark/Algebraic_kernel_d/data/resultants_from_0010_quadrics_with_0040_bits.nix -text
benchmark/Algebraic_kernel_d/data/resultants_from_0010_quadrics_with_0050_bits.nix -text
benchmark/Algebraic_kernel_d/data/resultants_from_0010_quadrics_with_0060_bits.nix -text
benchmark/Algebraic_kernel_d/data/resultants_from_0010_quadrics_with_0070_bits.nix -text
benchmark/Algebraic_kernel_d/data/resultants_from_0010_quadrics_with_0080_bits.nix -text
benchmark/Algebraic_kernel_d/data/resultants_from_0010_quadrics_with_0090_bits.nix -text
benchmark/Algebraic_kernel_d/data/resultants_from_0090_quadrics_with_0010_bits.nix -text
benchmark/Algebraic_kernel_d/data/resultants_from_0090_quadrics_with_0020_bits.nix -text
benchmark/Algebraic_kernel_d/data/resultants_from_0090_quadrics_with_0030_bits.nix -text
benchmark/Algebraic_kernel_d/data/resultants_from_0090_quadrics_with_0040_bits.nix -text
benchmark/Algebraic_kernel_d/data/resultants_from_0090_quadrics_with_0050_bits.nix -text
benchmark/Algebraic_kernel_d/data/resultants_from_0090_quadrics_with_0060_bits.nix -text
benchmark/Algebraic_kernel_d/data/resultants_from_0090_quadrics_with_0070_bits.nix -text
benchmark/Algebraic_kernel_d/data/resultants_from_0090_quadrics_with_0080_bits.nix -text
benchmark/Algebraic_kernel_d/data/resultants_from_0090_quadrics_with_0090_bits.nix -text
demo/Algebraic_curve_kernel_2/arrangements_2.cpp -text
demo/Algebraic_curve_kernel_2/curve_analyser_2.cpp -text
demo/Algebraic_curve_kernel_2/curve_pair_analyser_2.cpp -text
demo/Algebraic_curve_kernel_2/include/CGAL/Polynomial_parser_2.h -text
demo/Algebraic_curve_kernel_2/rotated_arrangements_2.cpp -text
demo/Algebraic_curve_kernel_2/rotated_curve_analyser_2.cpp -text
doc_tex/Algebraic_kernel_d_ref/AlgebraicKernel_d_1_Boundary.tex -text
doc_tex/Algebraic_kernel_d_ref/AlgebraicKernel_d_1_BoundaryBetween_1.tex -text
doc_tex/Algebraic_kernel_d_ref/Deprecated/AlgebraicKernel_d_1_LowerBoundary_1.tex -text
doc_tex/Algebraic_kernel_d_ref/Deprecated/AlgebraicKernel_d_1_Refine_1.tex -text
doc_tex/Algebraic_kernel_d_ref/Deprecated/AlgebraicKernel_d_1_UpperBoundary_1.tex -text
doc_tex/Algebraic_kernel_d_ref/figures/cpvl.eps -text svneol=unset#application/postscript
doc_tex/Algebraic_kernel_d_ref/figures/cpvl.fig -text svneol=unset#application/octet-stream
doc_tex/Algebraic_kernel_d_ref/intro.tex -text
/dont_submit -text
include/CGAL/Algebraic_curve_kernel_2.h -text
include/CGAL/Algebraic_curve_kernel_2/Algebraic_real_traits.h -text
include/CGAL/Algebraic_curve_kernel_2/Bitstream_coefficient_kernel_at_alpha.h -text
include/CGAL/Algebraic_curve_kernel_2/Curve_analysis_2.h -text
include/CGAL/Algebraic_curve_kernel_2/Curve_analysis_2_exacus.h -text
include/CGAL/Algebraic_curve_kernel_2/Curve_pair_analysis_2.h -text
include/CGAL/Algebraic_curve_kernel_2/Curve_pair_analysis_2_exacus.h -text
include/CGAL/Algebraic_curve_kernel_2/Event_line_builder.h -text
include/CGAL/Algebraic_curve_kernel_2/LRU_hashed_map.h -text
include/CGAL/Algebraic_curve_kernel_2/Shear_controller.h -text
include/CGAL/Algebraic_curve_kernel_2/Shear_transformation.h -text
include/CGAL/Algebraic_curve_kernel_2/Status_line_CA_1.h -text
include/CGAL/Algebraic_curve_kernel_2/Status_line_CPA_1.h -text
include/CGAL/Algebraic_curve_kernel_2/Xy_coordinate_2.h -text
include/CGAL/Algebraic_curve_kernel_2/alg_real_utils.h -text
include/CGAL/Algebraic_curve_kernel_2/flags.h -text
include/CGAL/Algebraic_curve_kernel_2/shear.h -text
include/CGAL/Algebraic_curve_kernel_2/trigonometric_approximation.h -text
include/CGAL/Algebraic_curve_kernel_2_generator.h -text
include/CGAL/Algebraic_kernel_1.h -text
include/CGAL/Algebraic_kernel_1_generator.h -text
include/CGAL/Algebraic_kernel_d/Algebraic_real_pure.h -text
include/CGAL/Algebraic_kernel_d/Algebraic_real_quadratic_refinement_rep_bfi.h -text
include/CGAL/Algebraic_kernel_d/Algebraic_real_rep.h -text
include/CGAL/Algebraic_kernel_d/Algebraic_real_rep_bfi.h -text
include/CGAL/Algebraic_kernel_d/Bitstream_coefficient_kernel.h -text
include/CGAL/Algebraic_kernel_d/Bitstream_descartes.h -text
include/CGAL/Algebraic_kernel_d/Bitstream_descartes_E08_tree.h -text
include/CGAL/Algebraic_kernel_d/Bitstream_descartes_rndl_tree.h -text
include/CGAL/Algebraic_kernel_d/Bitstream_descartes_rndl_tree_traits.h -text
include/CGAL/Algebraic_kernel_d/Descartes.h -text
include/CGAL/Algebraic_kernel_d/Float_traits.h -text
include/CGAL/Algebraic_kernel_d/Real_embeddable_extension.h -text
include/CGAL/Algebraic_kernel_d/Real_roots.h -text
include/CGAL/Algebraic_kernel_d/construct_binary.h -text
include/CGAL/Algebraic_kernel_d/enums.h -text
include/CGAL/Algebraic_kernel_d/exceptions.h -text
include/CGAL/Algebraic_kernel_d/macros.h -text
include/CGAL/Algebraic_kernel_d/refine_zero_against.h -text
include/CGAL/Algebraic_kernel_d/univariate_polynomial_utils.h -text
include/CGAL/Filtered_algebraic_curve_kernel_2.h -text
include/CGAL/Rotated_algebraic_curve_kernel_2.h -text
include/CGAL/algebraic_kernel_1_tools.h -text
package_info/Algebraic_kernel_d/maintainer -text
test/Algebraic_curve_kernel_2/Algebraic_curve_kernel_2.cpp -text
test/Algebraic_curve_kernel_2/Curve_analysis_2.cpp -text
test/Algebraic_curve_kernel_2/Curve_pair_analysis_2.cpp -text
test/Algebraic_curve_kernel_2/alg_real_utils.cpp -text
test/Algebraic_curve_kernel_2/include/CGAL/_test_algebraic_curve_kernel_2.h -text
test/Algebraic_kernel_d/Algebraic_kernel_1.cpp -text
test/Algebraic_kernel_d/Algebraic_real_pure.cpp -text
test/Algebraic_kernel_d/Bitstream_descartes.cpp -text
test/Algebraic_kernel_d/Descartes.cpp -text
test/Algebraic_kernel_d/Real_embeddable_traits_extension.cpp -text
test/Algebraic_kernel_d/algebraic_kernel_1_tools.cpp -text
test/Algebraic_kernel_d/include/CGAL/_test_algebraic_kernel_1.h -text
test/Algebraic_kernel_d/include/CGAL/_test_bitstream_descartes.h -text
test/Algebraic_kernel_d/include/CGAL/_test_real_comparable.h -text
test/Algebraic_kernel_d/include/CGAL/_test_real_root_isolator.h -text
