
*.svn-base
*.pptx
*.bib~
*.h~
Polygonal_surface_reconstruction/.svn/entries
Polygonal_surface_reconstruction/.svn/format
*.db
*.db-journal
Polygonal_surface_reconstruction/examples/Polygonal_surface_reconstruction/3rd_scip
Polygonal_surface_reconstruction/examples/Polygonal_surface_reconstruction/3rd_soplex
Polygonal_surface_reconstruction/examples/Polygonal_surface_reconstruction/3rd_glpk
Scale_space_reconstruction_3
Polygonal_surface_reconstruction/examples/build-Polygonal_surface_reconstruction-Desktop_Qt_5_11_0_clang_64bit-Default
Polygonal_surface_reconstruction/examples/Polygonal_surface_reconstruction/data/output
Polygonal_surface_reconstruction/examples/build-Polygonal_surface_reconstruction-Desktop_Qt_5_10_1_clang_64bit-Release
Polygonal_surface_reconstruction/examples/build-Polygonal_surface_reconstruction-Desktop_Qt_5_10_1_clang_64bit-Default
Polygonal_surface_reconstruction/examples/Polygonal_surface_reconstruction/data/.DS_Store
*.user
Polygonal_surface_reconstruction/examples/build-*
Kernel_23/.DS_Store
Optimisation_basic/package_info/.DS_Store
Polygonal_surface_reconstruction/.DS_Store
Optimisation_basic/.DS_Store
Polygonal_surface_reconstruction/examples/.DS_Store
Polygonal_surface_reconstruction/examples/Polygonal_surface_reconstruction/.DS_Store
.DS_Store
*.pro
*.off
*.pn
