maintest filter=lfs diff=lfs merge=lfs -text
cmake_install.cmake filter=lfs diff=lfs merge=lfs -text
dart_extraction.h~ filter=lfs diff=lfs merge=lfs -text
Euler_angles.txt~ filter=lfs diff=lfs merge=lfs -text
handles.cpp filter=lfs diff=lfs merge=lfs -text
handles.cpp~ filter=lfs diff=lfs merge=lfs -text
handles.h~ filter=lfs diff=lfs merge=lfs -text
hexextr.h filter=lfs diff=lfs merge=lfs -text
mesh filter=lfs diff=lfs merge=lfs -text
sanitization.h filter=lfs diff=lfs merge=lfs -text
2tetsop.off filter=lfs diff=lfs merge=lfs -text
CMakeCache.txt filter=lfs diff=lfs merge=lfs -text
parametrization.h filter=lfs diff=lfs merge=lfs -text
triangulation_to_LCC.h filter=lfs diff=lfs merge=lfs -text
maintest.cpp filter=lfs diff=lfs merge=lfs -text
CMakeLists.txt filter=lfs diff=lfs merge=lfs -text
functions.h filter=lfs diff=lfs merge=lfs -text
functions.h~ filter=lfs diff=lfs merge=lfs -text
handles.h filter=lfs diff=lfs merge=lfs -text
hexahedron_extraction.h filter=lfs diff=lfs merge=lfs -text
integer_grid_map.h~ filter=lfs diff=lfs merge=lfs -text
main.cpp~ filter=lfs diff=lfs merge=lfs -text
output.off filter=lfs diff=lfs merge=lfs -text
parametrization.h~ filter=lfs diff=lfs merge=lfs -text
typedefs.h~ filter=lfs diff=lfs merge=lfs -text
triangulation_to_LCC_tests filter=lfs diff=lfs merge=lfs -text
frame_field.h filter=lfs diff=lfs merge=lfs -text
Half_face_and_transition.h filter=lfs diff=lfs merge=lfs -text
Half_face_and_transition.h~ filter=lfs diff=lfs merge=lfs -text
hexahedron_extraction.h~ filter=lfs diff=lfs merge=lfs -text
hexextr.cpp~ filter=lfs diff=lfs merge=lfs -text
linear_cell_complex_3_viewer_qt.h filter=lfs diff=lfs merge=lfs -text
sanitization.h~ filter=lfs diff=lfs merge=lfs -text
CMakeFiles filter=lfs diff=lfs merge=lfs -text
HexExtr.cpp~ filter=lfs diff=lfs merge=lfs -text
main.cpp filter=lfs diff=lfs merge=lfs -text
triangulation_to_LCC.cpp~ filter=lfs diff=lfs merge=lfs -text
CMakeLCCViewerQt.inc filter=lfs diff=lfs merge=lfs -text
dart_extraction.h filter=lfs diff=lfs merge=lfs -text
data filter=lfs diff=lfs merge=lfs -text
Euler_angles.txt filter=lfs diff=lfs merge=lfs -text
main filter=lfs diff=lfs merge=lfs -text
Makefile filter=lfs diff=lfs merge=lfs -text
triangulation filter=lfs diff=lfs merge=lfs -text
CMakeLists.txt~ filter=lfs diff=lfs merge=lfs -text
frame_field.h~ filter=lfs diff=lfs merge=lfs -text
func.h~ filter=lfs diff=lfs merge=lfs -text
triangulation_to_LCC.h~ filter=lfs diff=lfs merge=lfs -text
tri.off filter=lfs diff=lfs merge=lfs -text
typedefs.h filter=lfs diff=lfs merge=lfs -text
geometry_extraction.h~ filter=lfs diff=lfs merge=lfs -text
hexextr.h~ filter=lfs diff=lfs merge=lfs -text
code.txt filter=lfs diff=lfs merge=lfs -text
mesh/parametrized2tets.off~ filter=lfs diff=lfs merge=lfs -text
mesh/parametrizedelephant.off filter=lfs diff=lfs merge=lfs -text
mesh/parametrizedfandisk.off filter=lfs diff=lfs merge=lfs -text
mesh/2tets.off filter=lfs diff=lfs merge=lfs -text
mesh/2tets.off~ filter=lfs diff=lfs merge=lfs -text
mesh/cheese.off filter=lfs diff=lfs merge=lfs -text
mesh/elephant.off filter=lfs diff=lfs merge=lfs -text
mesh/parametrized2tets.off filter=lfs diff=lfs merge=lfs -text
mesh/cube.off filter=lfs diff=lfs merge=lfs -text
mesh/fandisk.off filter=lfs diff=lfs merge=lfs -text
mesh/parametrizedcheese.off filter=lfs diff=lfs merge=lfs -text
mesh/parametrizedcube.off filter=lfs diff=lfs merge=lfs -text
data/elephant.off filter=lfs diff=lfs merge=lfs -text
data/out.off filter=lfs diff=lfs merge=lfs -text
data/2tets.off~ filter=lfs diff=lfs merge=lfs -text
data/armadillo_pc.off filter=lfs diff=lfs merge=lfs -text
data/bunny.off filter=lfs diff=lfs merge=lfs -text
data/cheese.off filter=lfs diff=lfs merge=lfs -text
data/cube.off filter=lfs diff=lfs merge=lfs -text
data/lion-head.off filter=lfs diff=lfs merge=lfs -text
data/2tets.off filter=lfs diff=lfs merge=lfs -text
data/code.txt~ filter=lfs diff=lfs merge=lfs -text
data/cube.off~ filter=lfs diff=lfs merge=lfs -text
data/fandisk.off filter=lfs diff=lfs merge=lfs -text
data/holes3_pc.off filter=lfs diff=lfs merge=lfs -text
triangulation_to_LCC_tests/2tets/624darts.h filter=lfs diff=lfs merge=lfs -text
triangulation_to_LCC_tests/2tets/624darts.off filter=lfs diff=lfs merge=lfs -text
triangulation_to_LCC_tests/2tets/624darts.off~ filter=lfs diff=lfs merge=lfs -text
triangulation_to_LCC_tests/2tets/744darts.h filter=lfs diff=lfs merge=lfs -text
triangulation_to_LCC_tests/2tets/744darts.off filter=lfs diff=lfs merge=lfs -text
triangulation_to_LCC_tests/elephant/* filter=lfs diff=lfs merge=lfs -text
