/* this is the new corporate style of the mpii */

html, body {
	margin:0;
	padding:0;
	color:#036;
/* 	color:rgb(54%,64%,70%); */
	background:#fff;
	font:90% Helvetica, Verdana, Arial, sans-serif;
}

h1 {
	color:#fff;
	background:rgb(67%,76%,84%);
	font:bold 100% Verdana, Arial, Helvetica, sans-serif;
	padding:0.25em 1em 0.5em 1em; 
	margin:0;
	border:1px solid rgb(67%,76%,84%);
	border-width:1px 0;
}

h2 {
	font:bold 100%/1em Verdana, Arial, Helvetica, sans-serif;
	margin:0;
	padding:0.5em 1em 0.5em 1em; 
	line-height:1.5;
}

h3 {
	font:bold 90%/1em Verdana, Arial, Helvetica, sans-serif;
	margin:0;
	padding:0.5em 1em 0.5em 1em; 
	padding-bottom:0;
	line-height:1.5;
}

h4 {
	font:bold 80%/1em Verdana, Arial, Helvetica, sans-serif;
	margin:0;
	padding:0.5em 1em 0.5em 1em; 
	line-height:1.5;
}

p {
	line-height:1.5;
	padding:0.25em 1em 0 1em;
}

html hr {
	color:rgb(67%,76%,84%);
	border:1px solid rgb(67%,76%,84%);
	background-color:#fff;
	height:1px;
	margin-left:1em;
}

address {
	padding:0.5em 1em 0.5em 1em;
	font-style:normal;
	line-height:1.5;
}

a:link {color:#036;}

a:visited {
	color:#669;
/*	color:#036; */
/*	color:#89b; */
/*	color:rgb(67%,76%,84%);  */
}

a:hover {
	color:#036;
}

#col2o3content p {
	line-height:1.5;
	padding:0.25em 1em 0.25em 1em;
}

#col3o3content p {
	line-height:1.5;
	padding:0.2em 1em 0.2em 1em;
}

#col2o3content ul li {
	line-height:1.5;
	list-style:square;
}

#col3o3content ul {
	margin: 1em;
}

#col3o3content ul li {
	line-height:1.5;
	list-style:square;
}

#col2o3content h1 {
	font:bold 100% Verdana, Arial, Helvetica, sans-serif;
	border:0;
	padding-left:1em;
	color:#fff;
	/* background:#fff; */
	border-bottom:1px solid rgb(67%,76%,84%);
}

/* css driven header navigation style */

#head1o2 {
	/*width:10%;*/
  	height:4.5em;
	margin:0;
	padding:0;
	background:#036;
	/* background: rgb(0,36,62); */
	text-align:left;
	color:#fff;
}

#head2o2 {
	width:100%;
	margin:0;
	padding:0;
	background:#fff;
}

#path {
	float:right;
	padding:1em;
	font-weight:bold;
	background:#fff;
	text-align:right;
	color:rgb(54%,64%,70%);
	clear:right;
}

#nav1 {
	position:relative;
	right:0;
	bottom:0;
	margin:0;
	padding:2em 1em 1em 1.5em;
}

#nav1 li {
	color:#89b;
	font-weight:normal;
	list-style:none; 
	margin-left:0;
	padding-left:0;
	white-space:nowrap;
	/* border-left:1px solid #89b; */
	display:inline;
}

#nav1 li a {
	display:inline; 
	padding:0;
	text-decoration:none; 
	font-weight:normal;
	color:#89b;
/*	width:.1em; */
}

#nav1 li a:visited {
	border-bottom:0;
}

html>body #nav1 a {width:auto;}    /* fixes IE6 hack */
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#nav1 a {float:none;}            /* End IE5-Mac hack */
#nav1 li a:hover {color:#fff;}

#nav2 {
	position:relative;
	right:0;
	bottom:0;
	margin:0;
	padding:0;
	padding-right:1em;
	text-align:right;
}

#nav2 li {
	list-style:none; 
	margin-left:0;
	padding-left:0;
	font-weight:bold;
	color:rgb(54%,64%,70%);
	white-space:nowrap;
	display:inline;
}

#nav2 li a {
	display:inline; 
	padding:0;
	text-decoration:none; 
	font-weight:bold;
	color:rgb(54%,64%,70%);
	border-bottom:0;
}

html>body #nav2 a {width:auto;}    /* fixes IE6 hack */
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#nav2 li a {float:none;}            /* End IE5-Mac hack */

#nav2 li a:visited {text-decoration:none; border-bottom:0;}
#nav2 li a:hover {color:#036;}

#headend {
	clear:left;
}

#mpiilogo {
	float:right;
	margin:0;
	border:0;
}

#mpiidot {
	/* position needs to be fixed */
	/* display:none; */
	float:right;
	margin:0;
	padding:0;	
	width:15px;
	height:10px;
	/* position:relative; */
	background:#89b;
	z-index:1;
	margin:0;
}

#mpiidotspacer {
	font:bold 14px "Times New Roman", Times, serif;
	margin-left:12px;
	margin-right:2em;
	display:block;
	float:right;
	width:10em;
	height:1px;
	letter-spacing:1px;
	color:#036;
	border:1px solid #036;
}

#mpiitext {
	font:bold 14px "Times New Roman", Times, serif;
	margin-top:10px;
	margin-left:10px;
	margin-right:2em;
	display:block;
	float:right;
	width:10em;
	letter-spacing:1px;
	color:#036;
	line-height:1.3;
}

#quickjump {
	text-align:right;
	margin:0;
	padding-top:1em;
}

#footer {
	background:#fff;
	font-size:11px;
	margin-top:10px;
	padding:1em 2em 1em 2em;
	text-align:center;
	border-top:1px solid rgb(67%,76%,84%);
	clear:both; 
}

#lastchange {
	font-size:10px;
	margin-top:10px;
	padding-top:10px;
	text-align:center;
	border-top-color:rgb(67%,76%,84%);
	border-top:1px solid rgb(67%,76%,84%);
}

form {
	padding:0;
	margin:0;
}

optgroup {font-style:normal;}

button {
	color:#036;
    margin:0.5em 0.5em 0.25em 0;
    padding:0;
    cursor:pointer;
    background-color:#fff;
    border:1px solid rgb(67%,76%,84%); 
}

.button {
	color:#036;
    margin:0.5em 0.5em 0.25em 0;
    padding:0;
    cursor:pointer;
    background-color:#fff;
    border:1px solid rgb(67%,76%,84%); 
}

#query {
    margin:0.5em 0 0 0;
    padding:0;
    cursor:text;
    background-color:#fff;
    border:1px solid rgb(67%,76%,84%); 
	width:14.5em;
}

#search p {
      border:1px;
}

#search {
	width:14.8em;
}

.hits dt {
  text-decoration:none;
}

.hits dd {
  /* font-size:x-small; */
}

/* css driven layout */

#headerspacer {
	color:#036;
	font-size:xx-small;
	height:1px;
	display:block;
	clear:both;
	z-index:3;
}

/* Set up NN4 values - purely to prevent vertical "looseness" */
#headerspacer {
	margin:0px;
	margin-top:-10px; 
	padding:0px;
}
/* Set up default spacer values */
#headerspacer {
	/*/*/
	margin:0px;
	padding:8px;
	/* */
}

#col2o3 {
	position:absolute;
	left:0px;
	width:70%;
	z-index:3;
	border:0;
	padding-right: 1px;
}

#col2o3content {
	margin:0;
	margin-left:17em;
	padding:0;
	color:#036;
	background-color:#fff;
	border:0;
	border:1px solid rgb(67%,76%,84%);
}

#col2o3content ul {
	margin:1em 1em 1em 1em;
}

#col2o3content ul li {
	line-height:1.5;
	list-style:square;
}

#col2o3content img {
	float:left;
	margin:1em 1em 0.3em 1em;
}

#col3o3content img {
	margin:1em 1em 0.3em 1em;
}

#col1o3 {
	position:absolute;
	left:1em;
	width:15em;
	z-index:4;
}

#col1o3content {
	margin-right:0px;
	padding:0px;
	color:#036;
	background-color:#fff;
	border-top:1px solid rgb(67%,76%,84%);
}

#col3o3 {
	position:absolute;
	left:71%;
	z-index:1;
	padding-right: 1px;
}

/* NN4 collapses the right column if the width is specified
Other bowsers collapse if it isn't */

#col3o3 {
	width:26%;
}
#col3o3content {
	/* margin-right:20px; */
	padding:0px;
	color:#036;
	/* color:rgb(54%,64%,70%); */
	background-color:#fff;
	border:1px solid rgb(67%,76%,84%);
}

#col3o3content img {
	float:left;
	margin:1em 1em 0.3em 1em;
}

/* unset NN4 spacing values for footer */

/* indentation for nested list items - everywhere */

ul { 
	margin:0 0 0 2em;
	padding:0 0 0 1em;
}

ul.linklist {
	color:#036;
	line-height:1.5;
	margin:0;
	padding:0;
	list-style:none;
}

ul.linklist li {
	line-height:1.5;
	border-bottom:1px solid rgb(67%,76%,84%);
	margin:0;
	padding:0;
}

ul.linklist li ul {
	margin-left:1.5em;
	padding-left:0;
}

ul.linklist a {display:block; text-decoration:none; padding:0 0 0 0.33em; height:100%;}
ul.linklist a:link {text-decoration:none;}
ul.linklist a:visited {text-decoration:none;}
ul.linklist a:hover {background:rgb(80%,85%,90%);}
/* ul.linklist a:hover:after {content:" [" attr(accesskey) "] "; } */

ul.linklist li li {
	line-height:1.5;
	border-bottom:0;
	border-top:1px solid rgb(67%,76%,84%);
	margin:0;
	padding:0;
	list-style:none;
}

.selected {
	background:rgb(80%,85%,90%);
}

dl {
	padding-top:0.3em;
	padding-left:1em;
	padding-bottom:1em;
	line-height:1.5;
}

dl dt {
	font-weight:bold;
}

tt {
	font-family:"Courier New", Courier, mono;
	font-size:12px;
}

#deco tt a:link {
	text-decoration: none;
}

#deco tt a:visited {
	text-decoration: none;
}

/* 2-column layout */

#col1o2 {
	position:absolute;
	left:1em;
	width:15em;
	z-index:4;
}

#col1o2content {
	margin-right:0px;
	padding:0px;
	color:#036;
	background-color:#fff;
	/* border-right:1px solid rgb(67%,76%,84%); */
	border-top:1px solid rgb(67%,76%,84%);
}

#col2o2 {
	position:absolute;
	left:0px;
	width:98%;
	z-index:3;
	border:0;
	padding-right: 1px;
}

#col2o2content {
	margin:0;
	margin-right:0px;
	margin-left:17em;
	padding:0;
	color:#036;
	background-color:#fff;
	border:1px solid rgb(67%,76%,84%);
}

#col2o2content p {
	line-height:1.5;
	padding:0.25em 1em 0.25em 1em;
}

#col2o2content ul li {
	line-height:1.5;
	list-style:square;
	padding-right:1em;
}

#col2o2content ul {
	padding-top: 0.25em;
}

#col2o2content img {
	float:left;
	margin:1em 1em 0.3em 1em;
}

#deco {
	padding-left:1.5em;
	padding-top:1.3em;
	float:left;
	clear:none;
	height:100px;
}

.caption {
	width: 600px;
	padding-left: 3em;
	margin-left: 3em;
	float:left;
	font-size:xx-small;
	clear:both;
}

.nonfloat img {
	float: left;
	clear: both;
}

#clear { clear:both;} /* CSS HACK:only for NN4, so now use Caio hack to cleanse palette */
/*/*/ #clear { display:none; } /* */

.clearpara {
	clear: both;
}
